
#list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    padding: 0;
}
#containerList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    padding: 0;
}

.navbar-nav mr-auto{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.card{
    margin-left: 20px;
    margin-top: 10px;
    width: 100%;
}
.btn-edit{
    color: white;
    background-color: #1E90FF;
    border-color : #1E90FF;
    border-radius: 5px;
    width: 100%;
}
.btn-delete{
    color: white;
    background-color: #d71b1b;
    border-color : #d71b1b;
    border-radius: 5px;
    width: 100%;
}



#typeItem {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

}

.rating {
    position: relative;
    width: 180px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #b3acac;
}

.rating__result {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-5px);
    z-index: -9;
    font: 3em Arial, Helvetica, sans-serif;
    color: #ebebeb8e;
    pointer-events: none;
}

.rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
}

.rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
}

.divRating{


}

@media screen and (max-width: 981px) {
    #btnAddMedia{
    margin: 0;
    }
}
