#btnAddMedia{
    margin-left: 1%;
}
#containerList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    padding: 0;
}
#form{
    display: none;
    border: 1px solid #ccc;
    border-radius: 1%;
    box-shadow: 0 0 5px #ccc;
    align-items: center;
}

.card{
    margin-left: 20px;
    margin-top: 10px;
}

.btn-delete{
    color: white;
    background-color: #d71b1b;
    border-color : #d71b1b;
    border-radius: 5px;
    width: 100%;
}

.popUp{

}
#circleButton {

    width: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
@media screen and (max-width: 981px) {
    #btnAddMedia{
    margin: 0;
    }
}